@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200&display=swap");
*:not(i) {
	font-family: "Montserrat", sans-serif !important;
	font-weight: 400;
}

body.pushable > .pusher {
	background: #f1f1f1 !important;
}

.no.padding {
	padding: 0 !important;
}

.sitec.dimmer {
	background-color: rgba(30, 57, 124, 0.8);
}

.sitec.dimmer > .content {
	height: 100%;
}

.welcome.segment {
	height: 100%;
}

.welcome.segment > img {
	min-height: 400px;
	object-fit: cover;
	height: 100% !important;
}

.large.line.height {
	line-height: 1.5em;
}

.double.massive.header {
	font-size: 4em !important;
}

span.ui.medium.text {
	font-size: 1.2em;
}

/* Mobile menu */
.mobile-menu {
	position: absolute;
	background: #fff;
	z-index: 100;
	height: 100vh;
	top: 0;
	right: 0;
	width: 30%;
	display: flex;
	flex-direction: column;
}
.mobile-menu #close-menu {
	align-self: flex-end;
	/* margin-right: 20px;
	position: relative;
	bottom: 50px; */
	margin: 30px 10px 30px 0px;
}
.mobile-menu .menu-link {
	display: block;
	width: 100%;
	padding: 18px 40px;
	color: #2a2a2a;
	font-size: 15px;
	transition: 0.2s all ease;
}
.mobile-menu .menu-link:hover {
	background-color: #1e397c;
	color: #fff;
}
.mobile-menu .menu-link.active {
	background-color: #1e397c;
	color: #fff;
}

@media (max-width: 768px) {
	.welcome.segment {
		height: 100%;
		min-height: 80vh;
	}
	.mobile-menu {
		width: 80%;
	}
}
