<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitec</title>
    {% include 'school/references.html' %}
</head>
<body class="pushable">
    <div class="pusher">
        {% include 'school/navbar.html' %}

        <div class="ui container">
            {% block content %}
            {% endblock %}
        </div>

        {% include 'school/footer.html' %}
    </div>
</body>
</html>